.wrapper {
  height: 365px;
  overflow-y: auto;
}

.button {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 20px 26px;

  background: theme('colors.base.900 / 75%');
  border-radius: 1.25rem;
  overflow: clip;

  @apply border border-base-400/15;

  &:hover {
    background: theme('colors.base.900 / 50%');
  }
}

.visible {
  animation: var(--anim-scale-fade-in);
  pointer-events: auto;
}

.hidden {
  display: none;
}

.name {
  font-weight: theme('fontWeight.extralight');
  font-family: theme('fontFamily.code');
}

.light {
  position: absolute;
  top: -5px;
  left: 20px;
  width: 100px;
  height: 100px;

  opacity: 0.2;
  filter: blur(theme('blur.3xl'));
}

.groupWrapper {
  height: 100%;

  border-radius: theme('borderRadius.lg');
  overflow: clip;
}

.group {
  height: 100%;

  background: theme('colors.base.900 / 75%');
  overflow-y: auto;
}

.item {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px;

  transition: background 0.3s ease;
  cursor: pointer;

  @apply border-b border-base-800;

  &:hover {
    background: theme('colors.base.800 / 50%');
  }
}

.index {
  width: 18px;

  text-align: center;
}

.end {
  display: block;
  width: 100%;
  padding: 10px;
}

.buttonAdd {
  height: 100%;

  font-size: theme('fontSize.sm');
}