.button {
  width: fit-content;
  margin: 0 auto;
  padding: 18px 36px;

  font-size: theme('fontSize.sm');
  line-height: theme('lineHeight.5');

  color: theme('colors.base.500');
  background: theme('colors.base.900');
  border-radius: 20px;
  border: 1.5px solid theme('colors.base.500');

  animation: var(--anim-scale-fade-in);

  &:hover {
    color: theme('colors.base.50');
    background: theme('colors.base.800');
    border: 1.5px solid theme('colors.base.50');
  }
}