.wrapper {
  transition: all ease .3s;
  height: fit-content;
  text-wrap: nowrap;
}

.variant-light {
  @apply text-primary-500;

  &:hover {
    @apply text-primary-500/75;
  }

  &:active {
    @apply text-primary-600;
    @apply bg-primary-500/10;
  }
}

.variant-solid {
  @apply bg-primary-500;

  &:active {
    @apply bg-primary-500/75;
  }
}

.radius-full {
  border-radius: 100px;
}

.radius-medium {
  border-radius: 0.625rem;
}

.size-medium {
  padding: 0.25rem 0.5rem;
}

.size-large {
  padding: 0.75rem 1.125rem;
}

.iconOnly {
  padding: 0.325rem;
}

.full {
  width: 100%;
}