.wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: fit-content;
  height: fit-content;

  transition: all ease .2s;
  text-wrap: nowrap;
}

.activeAnimation:not(.disabled):active {
  transform: scale(0.98);
}

.disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

@mixin variant-solid($color) {
  background: theme('colors.#{$color}.500');

  &:not(.disabled):hover {
    background: theme('colors.#{$color}.500 / 75%');
  }
}

@mixin variant-light($color) {
  color: theme('colors.#{$color}.500');

  &:not(.disabled):hover {
    color: theme('colors.#{$color}.400');
    background: theme('colors.#{$color}.500 / 10%');
  }
}

@mixin variant-flat($color) {
  @if $color == 'base' {
    background: theme('colors.#{$color}.600 / 35%');
  } @else {
    background: theme('colors.#{$color}.400 / 35%');
  }

  color: theme('colors.#{$color}.400');

  &:not(.disabled):hover {
    color: theme('colors.base.50');
    background: theme('colors.#{$color}.600 / 75%');
  }
}

@mixin variant-bordered($color) {
  color: theme('colors.#{$color}.500');
  background: theme('colors.#{$color}.500 / 10%');
  border: 1px solid theme('colors.#{$color}.500');

  &:not(.disabled):hover {
    color: theme('colors.#{$color}.600');
    background: theme('colors.#{$color}.500 / 20%');
    border-color: theme('colors.#{$color}.600');
  }
}

@mixin variants($color) {
  &.variant-solid {
    @include variant-solid($color);
  }

  &.variant-light {
    @include variant-light($color);
  }

  &.variant-flat {
    @include variant-flat($color);
  }
  
  &.variant-bordered {
    @include variant-bordered($color);
  }
}

.color-primary {
  @include variants('primary');
}

.color-base {
  @include variants('base');
}

.color-red {
  @include variants('red');
}

.radius-full {
  border-radius: 100px;
}

.radius-medium {
  border-radius: 0.625rem;
}

.align-start {
  justify-content: flex-start;
}

.align-center {
  justify-content: center;
}

.align-end {
  justify-content: flex-end;
}

.size-medium {
  padding: 0.25rem 0.5rem;

  &.iconOnly {
    padding: 0.325rem;
  }
}

.size-large {
  padding: 0.9rem 1.125rem;

  &.iconOnly {
    padding: 0.6rem;
  }
}

.full {
  width: 100%;
}