.wrapper {
  display: flex;
  width: fit-content;
}

.full {
  width: 100%;
}

.vertical {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.gap-small {
  gap: 4px;
}

.gap-medium {
  gap: 8px;
}

.gap-large {
  gap: 16px;
}