.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 34px;
  height: 34px;
}

.bordered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 12px;
  border: 2px solid theme('colors.primary.500');
}

.avatar {
  $outline-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(100% - $outline-size);
  height: calc(100% - $outline-size);

  color: theme('colors.base.500');
  background: theme('colors.base.700');
  border-radius: 8px;
}