.chip {
  display: flex;
  align-items: center;
  gap: 4;
  width: fit-content;

  font-size: 0.8rem;
  font-family: theme('fontFamily.code');

  background: theme('colors.base.900');
  border-radius: 8px;
  border: 1px solid theme('colors.base.800');
}

.name {
  display: flex;
  align-items: center;
  gap: 4px;

  &::before {
    width: 4px;
    height: 4px;

    background: currentcolor;
    border-radius: 100%;
    content: '';
  }
}

.size-small {
  padding: 2px 7px;
}

.size-medium {
  padding: 2px 10px;
}