.background {
  padding-top: 6px;
  padding-bottom: 6px;
  overflow: clip;

  &.isShowAll {
    padding-bottom: 0;
  }
}

.wrapper {
  --info-block-height: 122px;

  overflow: clip;
  height: var(--info-block-height);
  transition: all 0.3s ease;
  animation: fade-in 1s ease;
}

.item {
  padding: 6px 16px;
}

.divider {
  margin-left: 16px;
  margin-right: 16px;
}

.button {
  position: sticky;
  bottom: 0;
  padding-top: 16px;
  padding-bottom: 16px;

  @apply text-primary-600;
  @apply font-medium;
  @apply bg-base-900;

  &:hover {
    @apply bg-primary-500;
    @apply text-base-50;
  }

  &::after {
    content: '';
    position: absolute;
    top: -10px;
    width: 190px;
    height: 190px;
    border-radius: 100%;
    right: 50px;
    filter: blur(64px);

    @apply bg-primary-600/10;
    @apply blur-3xl;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}