.background {
  padding-top: 6px;
  padding-bottom: 6px;

  overflow: clip;

  animation: var(--anim-scale-fade-in);

  &.isShowAll {
    padding-bottom: 0;
  }
}

.wrapper {
  --info-block-height: 125px;
  height: var(--info-block-height);

  overflow: clip;

  transition: all 0.3s ease;
}

.item {
  padding: 6px 16px;
}

.divider {
  margin-right: 16px;
  margin-left: 16px;
}

.button {
  position: sticky;
  bottom: 0;
  padding-top: 16px;
  padding-bottom: 16px;

  font-weight: theme('fontWeight.medium');

  color: theme('colors.primary.400') !important;

  &:hover {
    color: theme('colors.base.50');
    background: theme('colors.primary.500');
  }

  &::after {
    position: absolute;
    top: -10px;
    width: 190px;
    height: 190px;

    background: theme('colors.primary.400 / 10%');
    border-radius: 100%;

    transform: translateX(50px);
    content: '';
    filter: blur(64px);
    filter: theme('blur.3xl');
  }
}