.wrapper {
  background: theme('colors.base.900');
}

.opacity {
  background: theme('colors.base.900 / 80%');
}

.radius-small {
  border-radius: theme('borderRadius.lg');
}

.radius-medium {
  border-radius: theme('borderRadius.xl');
}

.radius-large {
  border-radius: theme('borderRadius.2xl');
}

.radius-full {
  border-radius: theme('borderRadius.full');
}

.border-all {
  @apply border border-base-400/15;
}

.border-top {
  @apply border-t border-base-400/15
}

.border-right {
  @apply border-r border-base-400/15
}

.border-bottom {
  @apply border-b border-base-400/15
}

.border-left {
  @apply border-l border-base-400/15
}