.wrapper {
  background: theme('colors.base.900');
}

.opacity {
  background: theme('colors.base.900 / 80%');
}

.radius-small {
  border-radius: theme('borderRadius.lg');
}

.radius-medium {
  border-radius: theme('borderRadius.xl');
}

.radius-large {
  border-radius: theme('borderRadius.2xl');
}

.radius-full {
  border-radius: theme('borderRadius.full');
}

.border {
  border-color: theme('colors.base.400 / 15%');
  border-style: solid;
}

.border-all {
  border-width: 1px;
}

.border-top {
  border-top-width: 1px;
}

.border-right {
  border-right-width: 1px;
}

.border-bottom {
  border-bottom-width: 1px;
}

.border-left {
  border-left-width: 1px;
}