.item {
  position: relative;
  padding: 12px 16px;

  &:hover {
    background: theme('colors.base.800 / 75%');
  }
}

.icon {
  min-width: 28px;
  max-width: 28px;
  min-height: 28px;
  max-height: 28px;

  border-radius: theme('borderRadius.md');
}

.divider {
  position: absolute;
  right: 0;
  bottom: -0.5px;
  width: calc(100% - 56px);
}

.title {
  line-height: 1.25rem !important;
}

.arrow {
  transform: rotate(90deg);
}