.skeleton {
  position: relative;
  width: 100%;
  height: 24px;

  background: theme('colors.base.800 / 75%');
  border: 1px solid theme('colors.base.600 / 15%');
  overflow: hidden;

  transition: all ease 1s;

  &::before {
      display: block;
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;

      background: linear-gradient(to right, transparent 0%, theme('colors.base.700 / 50%') 50%, transparent 100%);

      animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
      content: "";
  }
}

.animated {
  animation: var(--anim-scale-fade-in);
}

.radius-medium {
  border-radius: theme('borderRadius.lg');
}

@keyframes load {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}
