.button {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 20px 26px;

  background: theme('colors.base.900 / 75%');
  border-radius: 1.25rem;
  overflow: clip;

  animation: var(--anim-scale-fade-in);

  @apply border border-base-400/15;

  &:hover {
    background: theme('colors.base.900 / 50%');
  }
}