.wrapper {
  display: flex;

  border-radius: .75rem 0 0 .75rem;
}

.content {
  position: relative;
  padding: 15px 10px 15px 0;
}

.chipList {
  position: absolute;
  top: -12px;

  color: theme('colors.base.600');
}

.buttonShow {
  width: 64px;
  height: auto;

  border-radius: .75rem 0 0 .75rem;

  &.collapsed {
    color: theme('colors.base.600');
    background: theme('colors.base.800');

    &:hover {
      background: theme('colors.base.700') !important;
    }
  }
}

.button {
  gap: 2;
  min-width: 80px;
  height: 32px;
  padding-right: 0.4rem;
  padding-left: 0.4rem;

  font-size: 0.8rem;
  font-family: theme('fontFamily.code');

  border-radius: 0.5rem;

  &.buttonResult {
    background: theme('colors.base.800');

    @apply border border-base-700/50;

    &.better {
      @apply border-dashed border-green-500;
    }
  
    &.worse {
      @apply border-dashed border-red-500;
    }
  }

  &.buttonPreviousResult {
    height: 28px;

    @apply border border-base-800;
  }

  &.buttonAdd {
    color: theme('colors.base.600');
    background: theme('colors.base.800');

    @apply border border-base-700/50;
  }
}

.drag {
  padding: 0 10px 0 12px;

  color: theme('colors.base.800');
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.info {
  margin-bottom: 8px;
}

.previous {
  padding-top: 16px;
}

.index {
  position: relative;
  top: 1px;

  font-size: 0.7rem;

  color: theme('colors.base.600')
}

.fadeUp {
  animation: fade-up 0.2s linear forwards;
}

.fadeDown {
  animation: fade-down 0.2s linear forwards;
}

.animation {
  z-index: 10;
  height: 0;
  max-height: fit-content;

  overflow: clip;
}

@keyframes fade-up {
  0% {
    height: 0;
  }

  100% {
    height: 100px;
  }
}

@keyframes fade-down {
  0% {
    height: 100px;
  }

  100% {
    height: 0;
  }
}
