.wrapper {
  overflow: clip;

  animation: var(--anim-scale-fade-in);
}

.item {
  padding: 12px 16px;

  &:hover {
    background: theme('colors.base.800 / 75%');
  }
}

.icon {
  min-width: 28px;
  max-width: 28px;
  min-height: 28px;
  max-height: 28px;

  border-radius: theme('borderRadius.md');
}

.divider {
  width: calc(100% - 56px);
  margin-top: -0.5px;
  margin-left: auto;
}

.title {
  line-height: 1.25rem !important;
}

.arrow {
  transform: rotate(90deg);
}