.wrapper {
  position: fixed;
  bottom: 16px;
  left: 50%;
  z-index: theme('zIndex.hud');

  transform: translateX(-50%);
}

.background {
  display: flex;
  align-items: center;
  height: 84px;
  padding: 17px 36px 17px 17px;

  background: theme('colors.base.900 / 50%');

  animation: var(--anim-scale-fade-in);
  backdrop-filter: blur(theme('backdropBlur.3xl'));
}

.button {
  height: 50px;

  animation: var(--anim-scale-fade-in);
}

.buttonPause {
  width: 50px;
}

.active:hover {
  background: transparent !important;
}