.wrapper {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.background {
  display: flex;
  align-items: center;
  padding: 17px 36px 17px 17px;
  height: 84px;
  animation: fade-up-from-bottom .7s ease-in-out;

  @apply bg-base-900/50;
  @apply backdrop:blur-3xl;
}

.button {
  height: 50px;
}

@keyframes fade-up-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}