.wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  margin-bottom: 18px;
  z-index: theme('zIndex.hud');

  @apply backdrop-blur-3xl;
}

.layout {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}

.actions {
  min-width: 90px;
  max-width: 90px;

  &.leftActions {
    justify-content: start;
  }

  &.rightActions {
    justify-content: end;
  }
}
