
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: theme('zIndex.overlay');
  width: 100vw;
  height: 100vh;

  background: theme('colors.black / 20%');
  opacity: 1;

  transition: opacity ease .3s;

  animation: var(--anim-fade-in);
  backdrop-filter: blur(theme('backdropBlur.xl')) saturate(1.5);
}

body {
  &[data-closing="false"] {
    overflow: hidden;
  }

  &[data-closing="true"] {
    .overlay {
      opacity: 0;
    }
  }
}