.wrapper {
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: theme('zIndex.overlayChild');
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  @media (max-width: theme('screens.sm')) {
    align-items: start;
  }
}

.modal {
  position: relative;
  width: 100%;
  max-width: theme('screens.sm');
  margin: 6rem 2rem;

  &.pointerEvents {
    pointer-events: auto;
  }
}