.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: theme('zIndex.overlayChild');
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: theme('screens.sm');
  margin: 4rem 2rem;

  &.pointerEvents {
    pointer-events: auto;
  }
}