.title, .action, .content {
  animation: scale-in 0.15s ease-out;
}

.title {
  width: 100%;
  pointer-events: auto;

  [data-mode="light"] & {
    color: theme('colors.base.100');
  }
}

.content {
  width: 100%;
  max-height: theme('height.modalBaseContent');
  overflow-y: auto;
  pointer-events: auto;
}

.action {
  color: theme('colors.base.600');
  pointer-events: auto;

  &:hover {
    color: theme('colors.base.400');
    background: theme('colors.base.700 / 25%');
  }

  [data-mode="light"] & {
    color: theme('colors.base.400');

    &:hover {
      color: theme('colors.base.100');
      background: theme('colors.base.500 / 25%');
    }
  }
}

body[data-modal-closed="true"] {
  /* stylelint-disable-next-line no-descending-specificity */
  .title, .action {
    opacity: 0;

    transform: scale(1.05);
  }

  .content {
    opacity: 0;
  }
}

@keyframes scale-in {
  0% {
    opacity: 0;

    transform: scale(1.05);
  }

  100% {
    opacity: 1;

    transform: scale(1);
  }
}